<a href="https://colab.research.google.com/github/zajcnataliya/Probability-and-Statistics/blob/main/dz10_%D0%94%D0%B8%D1%81%D0%BF%D0%B5%D1%80%D1%81%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D0%B9_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.

Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [23]:
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [26]:

x = np.array([173, 175, 180, 178, 177, 185, 183, 182])
y = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
z = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [27]:
# проверка на нормальность

stats.shapiro(x)

ShapiroResult(statistic=0.9775082468986511, pvalue=0.9495404362678528)

In [28]:
stats.shapiro(y)

ShapiroResult(statistic=0.9579196572303772, pvalue=0.7763139009475708)

In [29]:
stats.shapiro(z)

ShapiroResult(statistic=0.9386808276176453, pvalue=0.5051165223121643)

In [ ]:
# вывод: все распределения нормальные, т.к. pvalue > 0.05

In [30]:
# проверка на однородность дисперсий с помощью Барлетт теста 

from scipy.stats import bartlett
stats.bartlett(x, y, z)

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

In [ ]:
# вывод: дисперсии однородные, т.к. pvalue > 0.05
# можем провести дисперсионный анализ

In [31]:
# ANOVA
stats.f_oneway(x, y, z)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

In [ ]:
 # вывод: pvalue < 0.05, значит есть статистически значимые различия

In [87]:
# Post hoc test
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

In [90]:
df=pd.DataFrame({'height':[173, 175, 180, 178, 177, 185, 183, 182, 179.12, 179.12, 179.12, 177, 179, 180, 188, 177, 172, 171, 184, 180, 178.67, 178.67, 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170 ],
                'group':np.repeat(['x', 'y', 'z'], repeats = 11)})
df

    height group
0   173.00     x
1   175.00     x
2   180.00     x
3   178.00     x
4   177.00     x
5   185.00     x
6   183.00     x
7   182.00     x
8   179.12     x
9   179.12     x
10  179.12     x
11  177.00     y
12  179.00     y
13  180.00     y
14  188.00     y
15  177.00     y
16  172.00     y
17  171.00     y
18  184.00     y
19  180.00     y
20  178.67     y
21  178.67     y
22  172.00     z
23  173.00     z
24  169.00     z
25  177.00     z
26  166.00     z
27  180.00     z
28  178.00     z
29  177.00     z
30  172.00     z
31  166.00     z
32  170.00     z

In [91]:
tukey = pairwise_tukeyhsd(df['height'], df['group'], alpha = 0.05)
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     x      y  -0.4564 0.9677  -5.0667   4.154  False
     x      z  -6.3964  0.005 -11.0067  -1.786   True
     y      z    -5.94 0.0094 -10.5503 -1.3297   True
-----------------------------------------------------

In [ ]:
# вывод: между средним ростом футболистов и хоккеистов не найдены различия, т.е. верна нулева гипотеза,
# между средним ростом футболистов и штангистов, между средним ростом хоккеистов и штангистов найдены
# статистически значимые различия, т.е верна альтернативная гипотеза

In [32]:
# расчетный критерий Фишера (факультативно)
len(x)

8

In [33]:
len(y)

9

In [34]:
len(z)

11

In [38]:
x_mean = np.mean(x)
round(x_mean, 2)

179.12

In [39]:
y_mean = np.mean(y)
round(y_mean, 2)

178.67

In [40]:
z_mean = np.mean(z)
round(z_mean, 2)

172.73

In [53]:
# выравним количество выборок в трех группах
x1 = np.append(x, [179.12, 179.12, 179.12])
print(x1)
print(round(np.mean(x1), 2))

[173.   175.   180.   178.   177.   185.   183.   182.   179.12 179.12
 179.12]
179.12

In [54]:
y1 = np.append(y, [178.67, 178.67])
print(y1)
print(round(np.mean(y1), 2))

[177.   179.   180.   188.   177.   172.   171.   184.   180.   178.67
 178.67]
178.67

In [55]:
total = np.array([x1, y1, z])
total

array([[173.  , 175.  , 180.  , 178.  , 177.  , 185.  , 183.  , 182.  ,
        179.12, 179.12, 179.12],
       [177.  , 179.  , 180.  , 188.  , 177.  , 172.  , 171.  , 184.  ,
        180.  , 178.67, 178.67],
       [172.  , 173.  , 169.  , 177.  , 166.  , 180.  , 178.  , 177.  ,
        172.  , 166.  , 170.  ]])

In [60]:
round(np.mean(total), 2)

176.84

In [79]:
k = 3 # количество групп
n = 33 # общее количество значений роста в 3-х группах (11*3=33)

In [80]:
# Сумма квадратов отклонений наблюдений от общего среднего
np.sum((total - 176.84)**2) # отложим это значение

857.2097999999999

In [81]:
# Сумма квадратов отклонений средних групповых значений от общего среднего
S_f = np.sum((np.mean(x1) - 176.84)**2)*11 + np.sum((np.mean(y1) - 176.84)**2)*11 + np.sum((np.mean(z) - 176.84)**2)*11
S_f

280.15290909090913

In [82]:
# Остаточная сумма квадратов отклонений
S_ost = np.sum((x1 - np.mean(x1))**2) + np.sum((y1 - np.mean(y1))**2) + np.sum((z - np.mean(z))**2)
S_ost

577.056890909091

In [83]:
S_total = S_f + S_ost
S_total

857.2098000000001

In [84]:
D_f = S_f / (k-1)
D_f

140.07645454545457

In [85]:
D_ost = S_ost / (n - k)
D_ost

19.2352296969697

In [86]:
F_n = D_f / D_ost # расчетный критерий Фишера
F_n

7.282286551926234